:root {
  --radius: 0.3rem;
  /* colors */
  --lighten-blue: #969cb3;
  --dark-blue: #363f5f;
  --dark-green:rgb(31,70,37);
  --green:#49aa23;
  --light-green:#3dd705;
  --red: #e92929;
  --light-red: #eb4646;
  --background:rgb(237,240,242);
}
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

html {
  font-size: 93.75%; /* 15px */
}

body {
  background-color:var(--background);
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

/* Form ===================*/
input {
  padding: 0.8rem;
  width: 100%;
  font-size: 1rem;
  border:none;
  border-radius: var(--radius);
  outline: none;
}

.input-group {
  display:flex;
  flex-direction: column;
  margin-top: 0.8rem;
}

.input-group .help {
  margin-top: 0.5rem;
  opacity: .6;
}

.input-group.actions {
  flex-direction: row;
  justify-content: space-between;
}

.input-group.actions .cancel, .input-group.actions button{
  width: 48%;
}

/** Links & Buttons ========= */
a {
  color: var(--light-green);
  text-decoration: none;
}

a:hover {
  color: var(--green);
}

.cancel {
  display:flex;
  justify-content:center;
  align-items: center;
  color: var(--red);
  border-color: var(--red);
  opacity: 0.5;
}

.modal-content .cancel:hover {
  color: var(--light-red);
  border-color: var(--light-red);
  opacity: 1;
}

.modal-content .button, .modal-content button {
  height: 50px;
  border: 2px solid;
  border-radius: var(--radius);
}

.modal-content button {
  color: var(--background);
  border-color: var(--green);
  background: var(--green);
  
}

.modal-content .button:hover {
  cursor: pointer;
}

.modal-content button:hover {
  border-color: var(--light-green);
  background: var(--light-green);
}

.button.new {
  font-weight: normal;
  display:inline-block;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}


/** classe de trick para esconder o elemento sem impactar um leitor de tela */
.sr-only {
  position:absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}


header {
  background-color: var(--dark-green);
  padding: 2rem 0 10rem;
  text-align: center;
}

.container {
  width:min(90vw, 800px);
  margin:auto;
  margin-top: -6rem;
  color: var(--dark-blue);
}

#balance {
  margin-bottom: 2rem;
}

#balance h2 {
  color: white;
}

.card {
  background-color: white;
  border-radius: var(--radius);
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
}

.card.total {
  background-color: var(--green);
  color: white;
}

.card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.card h3 span {
  font-size: 0.9rem;
  font-weight: 400;
}

.card p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

#transaction {
  width: 100%;
  display:block;
  overflow-x: auto;
}

#transaction table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--lighten-blue);
}

#transaction table tr {
  background-color: white;
}

#transaction table thead tr th {
  text-align: left;
  font-weight: 400;
  padding: 1rem 2rem;
}

#transaction table thead tr th:first-child,
#transaction table tbody tr td:first-child {
  border-radius: var(--radius) 0 0 var(--radius);
}

#transaction table thead tr th:last-child,
#transaction table tbody tr td:last-child {
  border-radius: 0 var(--radius) var(--radius) 0;
}

#transaction table tbody tr {
  opacity: 0.7
}

#transaction table tbody tr:hover {
  opacity: 1;
  cursor: pointer;
}

#transaction table tbody tr td {
  font-weight: 400;
  padding: 1rem 2rem;
}
#transaction .description {color: var(--dark-blue)}
#transaction .expense {color:var(--red)}
#transaction .incoming {color:var(--green)}

/*Modal ==================*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background: var(--background);
  padding: 2.4rem;
  border-radius: var(--radius)
}

.modal-content {
  max-width: 500px;
  color: var(--dark-blue);
}

/*Footer ==================*/
footer p {
  padding: 4rem 0 2rem;
  color:var(--dark-blue);
  opacity: .6;
  text-align: center;
}

/* Responsive ================== */
@media (min-width: 800px) { /*above 800px, apply this*/
  html {
    font-size: 87.5%; /* 14px */
  }

  #balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* repeat(3, 1fr) */
    gap: 2rem;
  }

}